<script src="../assets/js/sidebar.js"></script>
<div class="sidebar" data-color ="black">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Greenwich eTutoring
            </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" href="#" onclick="setDashboard()">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./user-profile.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li id="adminmn">
                <a class="nav-link" href="./user-management.html?">
                    <i class="nc-icon nc-notes"></i>
                    <p>User Management</p>
                </a>
            </li>
            <li id="chatmn">
                <a class="nav-link" href="./messenger.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Messenger</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li id="staffmn">
                <a class="nav-link" href="./allocation-management.html">
                    <i class="nc-icon nc-notes"></i>
                    <p>Allocation</p>
                </a>
            </li>
        </ul>
    </div>
</div>
