<script src="../assets/js/sidebar.js"></script>
<div class="sidebar" data-color ="black">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Greenwich eTutoring
            </a>
        </div>
        <ul class="nav">
            <li id="dashmn">
                <a class="nav-link" href="#" onclick="setDashboard()">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="profilemn">
                <a class="nav-link" href="./user-profile.html?mn=profilemn">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li id="adminmn">
                <a class="nav-link" href="./user-management.html?mn=adminmn">
                    <i class="nc-icon nc-notes"></i>
                    <p>User Management</p>
                </a>
            </li>
            <li id="chatmn">
                <a class="nav-link" href="./messenger.html?mn=chatmn">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Messenger</p>
                </a>
            </li>
            <li id="staffmn">
                <a class="nav-link" href="./allocation-management.html?mn=staffmn">
                    <i class="nc-icon nc-notes"></i>
                    <p>Allocation</p>
                </a>
            </li>
            <li id="documentmn">
                <a class="nav-link" href="./document.html?mn=documentmn">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Document</p>
                </a>
            </li>
            <li id="blogmn">
                <a class="nav-link" href="./blog.html?mn=blogmn">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Blog</p>
                </a>
            </li>
        </ul>
    </div>
</div>
